<div class="recruiter-top-body">
  <div class="wrapper container top-recruiter-img">
    <div class="text-center recruiter-top-text">
      <p>
        <strong class="recruiter-main-title">Career Design Initiativesとは？</strong><br><br>
        高校生を対象としたダイレクトリクルーティングサイトです。<br>
        一人一社制に代表される高校生採用の古い慣習の打破を目的としています<br>
        より自由に、そして、アクティブな高校生採用を実現しませんか？<br>
        興味のある企業様は、<%= link_to 'こちら', new_recruiter_registration_path %>からアカウントを申請してください
      </p>
    </div>
  </div>
