<%= render partial: 'partials/top_global_nav' %>
<div class="wrapper container">
  <h3 class="title-text">高校生の就職活動をもっと自由に</h3><br>
  <div class="note">
    説明文<br>
    説明文<br>
    説明文<br>
    説明文<br>
  </div>
</div>
