<div class="student-home-margin">
  <div class="wrapper container">
    <% if current_student.nickname.present? %>
    <h3><%= current_student.nickname %>さん、ようこそ</h3>
      <% else %>
    <h3>ID<%= current_student.id %>さん、ようこそ</h3>
    <% end %>

    <%= render partial: 'partials/notification_nav' %>
  </div>
</div>
