<%= render partial: 'partials/global_nav' %>
<h2>PROFILE</h2>
  <ul>
    <li><%= link_to '基本情報', student_path(current_student.id) %></li>
    <% if current_student.address.nil? %>
      <li><%= link_to '住所登録', new_student_address_path(current_student.id) %></li>
    <% else %>
      <li><%= link_to '住所情報', student_address_path(current_student.id) %></li>
    <% end %>
  </ul>
