<% if current_student.nickname.present? %>
<h1>ID<%= current_student.nickname %>さん、ようこそ</h1>
  <% else %>
<h1><%= current_student.id %>さん、ようこそ</h1>
<% end %>

<p>Find me in app/views/students/show.html.erb</p>
