<% if current_student.nickname.present? %>
<h1>ID<%= current_student.nickname %>さん、ようこそ</h1>
  <% else %>
<h1><%= current_student.id %>さん、ようこそ</h1>
<% end %>

<ul>
  <li><%= link_to 'HOME', student_path(current_student.id) %></li>
  <li><%= link_to 'PROFILE', edit_student_registration_path(current_student.id) %></li>
</ul>
