<div class="sitename">
    <a href="#">Career Design Initiatives</a>
  </div>


<div class="navbar navbar-default" role="navigation">
     <div class="navbar-collapse">
       <ul class="nav navbar-nav">
        <li class="global_nav">
          <%= link_to(home_students_path, class: 'nav-box') do %>
            <span class="fa fa-home"></span>
            HOME
          <% end %>
        </li>
        <li class="global_nav">
          <%= link_to(profile_students_path, class: 'nav-box') do %>
            <span class="fa fa-id-card"></span>
            PROFILE
          <% end %>
        </li>
        <li class="global_nav">
          <%= link_to(pr_students_path, class: 'nav-box-pr') do %>
            <span class="fas fa-microphone-alt"></span>
             Self APPEAL
          <% end %>
        </li>
        <li class="global_nav">
          <%= link_to(scouts_path, class: 'nav-box') do %>
            <span class="far fa-envelope"></span>
            SCOUT
          <% end %>
        </li>
      </ul>
    </div>
</div>
