
/*丸型のボタンパーツ(小さい)*/
.open-btn,
.close-btn {
  display: inline-block;
  width: 300px;
  max-width: 100%;
  padding: 1px 1px;
  background-color: grey;
  border: 2px solid transparent;
  border-radius: 10px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, .16);
  font-size: 1rem;
  text-align: center;
  text-decoration: none;
  transition: .25s;
  color: #FFFEF6;
  margin-bottom: 10px;
}

.open-btn:focus,
.open-btn:hover {
  background-color: grey;
  border-color: currentColor;
  color: #e25c00;
}
