/* スカウト一覧画面 */
.scout-index-table th {
  background-color: #E94A67;
  color: #fff;
}
.scout-index-table td {
  background-color: #F7FCFE;
}

.scout-index-table tr:hover td {
  background-color: #d9efff;
}

.scout-index-table li {
  list-style: none;
}

/* スカウト本文テーブル */
.scout-main-index-table th {
  background-color: #E94A67;
  color: #fff;
}
.scout-main-index-table td {
  background-color: #F7FCFE;
}

.scout-main-index-table li {
  list-style: none;
}

.scout-message-body {
  width: 90%;
  margin-left: 10%;
}

/* メッセージやりとり */
.messages {
  background: #F7FCFE;
  border-radius: 15px;
  line-height: 1.5;
  word-break: break-all;
}

.tr-recruiter td {
  padding-top: 1px;
  padding-bottom: 1px;
  font-size: 0.9em;
  background-color: lightgrey;
  text-align: right;
}

.tr-student td {
  padding-top: 1px;
  padding-bottom: 1px;
  font-size: 0.9em;
  background-color: #E94A67;
  color: #fff;
  text-align: left;
}
