.wrapper {
  margin-top: 25px;
}
.profile-wrapper li{
  list-style: none;
  margin-bottom: 15px;
}

.pr-wrapper li{
  list-style: none;
  margin-bottom: 15px;
}

//生徒基本情報テーブルの見た目(縦型)
.student-table {
  margin-left: 100px;
  width: 70%;
  border-collapse: collapse;
}

.student-table tr {
  border-bottom: solid 2px white;
}

.student-table tr:last-child {
  border-bottom: none;
}

.student-table th{
  position: relative;
  text-align: left;
  width: 30%;
  background-color: #E94A67;
  color: white;
  text-align: center;
  padding: 10px 0;
}

.student-table th:after{
  display: block;
  content: "";
  width: 0px;
  height: 0px;
  position: absolute;
  top:calc(50% - 10px);
  right:-10px;
  border-left: 10px solid #E94A67;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
}

.student-table td{
  width: 0%;
  text-align: center;
  background-color: #eee;
  padding: 10px 15px;
}

//生徒基本情報テーブルの見た目（横型）
.student-table-horizon {
  width: 100%;
  border-collapse: collapse;
}

.student-table-horizon tr {
  border-bottom: solid 2px white;
}

.student-table-horizon tr:last-child {
  border-bottom: none;
}

.student-table-horizon th{
  position: relative;
  text-align: left;
  width: 30%;
  background-color: #E94A67;
  color: white;
  text-align: center;
  padding: 10px 0;
}

.student-table-horizon td{
  width: 0%;
  text-align: center;
  background-color: #eee;
  padding: 10px 15px;
}

//生徒基本関連情報編集画面の見た目
.student-wrapper {
  width: 70%;
}

.normal-form {
  width: 70%;
}

.form-after {
  margin-left: 20px;
}

::placeholder {
  font-size: 0.8rem;
}

.educational_background-btn {
  margin-left: 180px;
}
