<%= render partial: 'partials/global_nav' %>

<h1>EducationalBackgrounds#edit</h1>
<p>Find me in app/views/educational_backgrounds/edit.html.erb</p>

<%= render partial: 'form', locals: { student: @student, educational_background: @educational_background } %>
