<h1>EducationalBackgrounds#new</h1>
<p>Find me in app/views/educational_backgrounds/new.html.erb</p>

<%= render partial: 'form', locals: { student: @student, educational_background: @educational_background } %>
