.body {
  margin-top: 115px;
  background-color: #F7E7C0;
}

.li-btn {
  display: inline-block;
  width: 300px;
  max-width: 100%;
  padding: 15px 10px;
  background-color: #D42C49;
  border: 2px solid transparent;
  box-shadow: 0 3px 6px rgba(0, 0, 0, .16);
  font-size: 1.2rem;
  text-align: center;
  text-decoration: none;
  transition: .25s;
  color: #FFFEF6;
}

.li-btn:focus,
.li-btn:hover {
  background-color: #B80D28;
  border-color: currentColor;
  color: #e25c00;
}

//丸型のボタンパーツ
.rounded-btn {
  display: inline-block;
  width: 100px;
  max-width: 100%;
  padding: 5px 5px;
  background-color: #D42C49;
  border: 2px solid transparent;
  border-radius: 10px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, .16);
  font-size: 1.2rem;
  text-align: center;
  text-decoration: none;
  transition: .25s;
  color: #FFFEF6;
  margin-bottom: 10px;
}

.rounded-btn:focus,
.rounded-btn:hover {
  background-color: #B80D28;
  border-color: currentColor;
  color: #e25c00;
}

//丸型のボタンパーツ(小さい)
.rounded-btn-sm {
  display: inline-block;
  width: 50px;
  max-width: 100%;
  padding: 1px 1px;
  background-color: #D42C49;
  border: 2px solid transparent;
  border-radius: 10px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, .16);
  font-size: 1rem;
  text-align: center;
  text-decoration: none;
  transition: .25s;
  color: #FFFEF6;
}

.rounded-btn-sm:focus,
.rounded-btn-sm:hover {
  background-color: #B80D28;
  border-color: currentColor;
  color: #e25c00;
}

//丸型の検索結果の各アクションボタンパーツ
.rounded-action-btn {
  display: inline-block;
  width: 100px;
  max-width: 100%;
  padding: 5px 5px;
  background-color: #D42C49;
  border: 2px solid transparent;
  border-radius: 10px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, .16);
  font-size: 0.8rem;
  text-align: center;
  text-decoration: none;
  transition: .25s;
  color: #FFFEF6;
  margin-bottom: 10px;
}

.rounded-action-btn:focus,
.rounded-action-btn:hover {
  background-color: #B80D28;
  border-color: currentColor;
  color: #e25c00;
}

//丸型の検索結果表示ボタン
.search-btn {
  display: inline-block;
  width: 200px;
  max-width: 100%;
  padding: 5px 5px;
  background-color: #D42C49;
  border: 2px solid transparent;
  border-radius: 10px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, .16);
  font-size: 1.2rem;
  text-align: center;
  text-decoration: none;
  transition: .25s;
  color: #FFFEF6;
  margin-bottom: 10px;
}

.rounded-btn:focus,
.rounded-btn:hover {
  background-color: #B80D28;
  border-color: currentColor;
  color: #e25c00;
}
/* チェックボックスフィールド */
.checkbox {
  background-color: #eee;
  margin-bottom: 30px;
}

/* メッセージボックス */
.message-box{
    position: relative;
    width: 70%;
    background: #FB708C;
    box-shadow: 0px 0px 0px 5px #fff0cd;
    border: dashed 2px white;
    padding: 0.2em 0.5em;
    color: black;
}
.message-box:after{
    position: absolute;
    content: '';
    right: -7px;
    top: -7px;
    border-width: 0 15px 15px 0;
    border-style: solid;
    border-color: #ffdb88 #fff #ffdb88;
    box-shadow: -1px 1px 1px rgba(0, 0, 0, 0.15);
}
.message-box p {
    margin: 0;
    padding: 0;
}

/* 見出し */
.heading {
  padding-bottom: 10px;
  border-bottom: 4px solid #e25c00;
  font-size: 1.75rem;
  font-weight: bold;
}

.heading-sm {
  padding-bottom: 5px;
  border-bottom: 3px solid #e25c00;
  font-size: 1.5rem;
  font-weight: bold;
}

.student-image img {
  border-radius: 50%;
  width: 100px;
  height: 100px;
  object-fit: cover;
}
